.App {
  text-align: center;
  
}
#name{
  color: white;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
}
#name{
  align-items: right;
}
.Date {
  padding-top: 120px;
  font-size:xx-large;
}
#nav {
  display: flex;
}
.inlineclass{
  display: inline-flex;
}
.col{
  min-width: 40%;
  padding:5px;
}
#heading{
  padding-top: 15px;
}
#exampledate{
  width: 50px;
}
#name {
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.parentform{
 
  justify-content: center;
  display: inline-flex;
  
}
.formslots{
  background-color: white;
  width:100%;
  margin:5%;
  padding:2%;
}

.pslots{
  justify-content: center;
  margin:auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 812px){
  .Date{
  margin:5%;
  
  }
}